<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Anivers치rio</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="nav">
          <a class="novo-aniversariante" href="/novo-aniversariante"
            >Adicionar</a
          >
          <% if (fazHoje.length > 0) { %> <% for( let i = 0; i <
          fazHojeNome.length; i++ ) { %>
          <h1>Parab칠ns, <%= fazHojeNome[i] %>!</h1>
          <% } %> <% } else {%>
          <h1 class="title">Lista de Anivers치rio</h1>

          <%}%>
          <button class="mostrarLista">Mostrar lista</button>
        </div>
        <div class="listaAniversariantes">
          <% if (aniversariantes.length > 0) { %>

          <ul>
            <% for( aniversariante of aniversariantes ) { %>

            <li>
              <h3>
                <%= aniversariante.nome %> faz anivers치rio <%=
                aniversariante.dataaniver %>

                <form action="/delete" method="post">
                  <input
                    type="hidden"
                    name="deletar"
                    value="<%= aniversariante.nome%>"
                  />
                  <button class="btn-deletar" type="submit">游딈</button>
                </form>
              </h3>
            </li>
            <% } %>
          </ul>

          <% } else {%>
          <h1>N칚o h치 aniversariantes registrados</h1>
          <%}%>
        </div>
      </div>
    </div>

    <script>
      document.querySelector(".listaAniversariantes").classList.add("hidden");

      document.querySelector(".mostrarLista").addEventListener("click", () => {
        document
          .querySelector(".listaAniversariantes")
          .classList.toggle("hidden");
        if (
          document
            .querySelector(".listaAniversariantes")
            .classList.contains("hidden")
        ) {
          document.querySelector(".mostrarLista").innerHTML = "Mostrar lista";
        } else {
          document.querySelector(".mostrarLista").innerHTML = "Ocultar lista";
        }
      });
    </script>
  </body>
</html>
