body {
    margin: 0;
    padding: 0;
    background: linear-gradient(125deg, purple, rgb(226, 68, 226));
    height: 100vh;
}

.container {
    width: 400px;
    margin: 20px auto;
    background: white;
    padding: 30px;
}

fieldset input {
    display: block;
}

.alunoCadastrado {
    background: green;
    width: 400px;
    height: fit-content;
    padding: 30px;
    margin: 10px auto;
    color: white;
}
