<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Clientes</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="container">
            <form action="/clientInfo" method="post">
                <select name="nomeCliente" id="nomeCliente">
                    <% if (data) { %> <% for( let i = 0; i < data.length; i++ )
                    { %>
                    <option value="<%= data[i].nomecliente %>">
                        <%= data[i].nomecliente %>
                    </option>
                    <% } %> <% } %>
                </select>
                <select name="meses" id="meses">
                    <option value="Janeiro">Janeiro</option>
                    <option value="Fevereiro">Fevereiro</option>
                    <option value="Março">Março</option>
                    <option value="Abril">Abril</option>
                    <option value="Maio">Maio</option>
                    <option value="Junho">Junho</option>
                    <option value="Julho">Julho</option>
                    <option value="Agosto">Agosto</option>
                    <option value="Setembro">Setembro</option>
                    <option value="Outubro">Outubro</option>
                    <option value="Novembro">Novembro</option>
                    <option value="Dezembro">Dezembro</option>
                </select>
                <label for="pagoOuNao">Pago</label>
                <input type="radio" name="pagoOuNao" id="pago" value="pago" />
                <label for="pagoOuNao">Não pago</label>
                <input
                    type="radio"
                    name="pagoOuNao"
                    id="naoPago"
                    value="naoPago"
                    checked
                />
                <input type="submit" id="infoClientBtn" value="Enviar" />
            </form>
            <form action="/" method="get">
                <input type="submit" value="Add cliente" />
            </form>
        </div>
    </body>
</html>
