* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicPlayer {
  background: #ffe0e5;
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

.musicaUm,
.musicaDois,
.musicaTres {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.musicaUm:hover,
.musicaDois:hover,
.musicaTres:hover {
  background: rgba(0, 0, 0, 0.25);
}

.musicaUm p {
  font-size: 1rem;
}

.capa {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.um {
  background: red;
  margin-right: 30px;
}
.dois {
  background: blue;
  margin-right: 30px;
}
.tres {
  background: green;
  margin-right: 30px;
}

.tocando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.capaAMontanha {
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 50%;
}

.capaAndariego {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%;
}

.capaNasAsasDoVento {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
}

.aMontanha h2 {
  margin: 30px 0;
}
.andariego h2 {
  margin: 30px 0;
}
.nasAsasDoVento h2 {
  margin: 30px 0;
}

.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes button {
  font-size: 2rem;
  width: 100px;
  height: 50px;
  margin: 0 5px;
}
