* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oxygen", sans-serif;
}

.container form {
    width: 50%;
}

.form-group {
    margin: 10px;
    width: 100%;
}

tr {
    background: #7293a0;
}

.container {
    margin-top: 50px;
    color: white;
}

.container h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.601);
}

.container a {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    margin: 10px 30px;
}

.container div {
    display: flex;
}

body {
    display: flex;
    background: #7293a0;
}

.saldo {
    background: white;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.saldo form input {
    border-radius: 15px;
    padding: 10px;
    outline: none;
    margin: 3px;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background: #7293a0;
    flex-direction: column;
}

.addNaPlanilha {
    width: 70%;
    background: white;
    height: 60px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.335);
}

.addNaPlanilha form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.addNaPlanilha form input,
.addNaPlanilha form select,
.addNaPlanilha form select option {
    padding: 5px 15px;
    border: none;
    background: #d8ddef;
    border-radius: 5px;
}

#categoriaEditId {
    width: 120px;
    padding: 5px;
    border: none;
    background: gray;
    border-radius: 5px;
    color: white;

    font-weight: bold;
}

#btnEnviar {
    background: #45b69c;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btnEnviar:hover {
    background: #286e5cd7;
}

.planilha {
    width: 70%;
}

table {
    width: 100%;
    margin: 50px 0;
}

table thead {
    background: #21d19f;
}
table tbody,
table tfoot {
    background: #a0a4b8;
    text-align: center;
}

tfoot tr {
    background: white;
}

td {
    padding: 15px 0;
    border-radius: 5px;
    font-family: "Archivo Black", sans-serif;
    font-size: 1rem;
    color: black;
}
td > p {
    font-family: "Archivo Black", sans-serif;
    font-size: 1rem;
    color: black;
}

th {
    padding: 10px 0;
    border-radius: 5px;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.1rem;
    color: gainsboro;
}

.Alimentação {
    background: #9b9da8;
}

.Social {
    background: #e6e7efd4;
}

.Transporte {
    background: #dcdcdd73;
}

.Mensalidade {
    background: rgb(255, 255, 255);
}

.Lazer {
    background: #ccd4fc;
}

.verde {
    background: rgb(105, 228, 105);
}

.vermelho {
    background: rgb(238, 102, 102);
}

.btnDelete {
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background: white;
}

.formDeletar {
    margin: 0 auto;
}

.hidden {
    display: none;
}

#addSaldo {
    font-size: 1.7rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.saldo {
    width: 300px;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    background: #45b69c;
}

.saldo::placeholder {
    color: white;
}

.saldoInicial {
    width: 250px;
    color: white;
    font-weight: bolder;
    font-size: 2rem;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.saldoInicial::placeholder {
    color: black;
}

.saldoVerde {
    background: green;
}

.saldoLaranja {
    background: orange;
}

.saldoVermelho {
    background: red;
}
