<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Escola</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="container">
            <form action="/cadastro" method="post">
                <input
                    type="text"
                    name="nomeAluno"
                    placeholder="Nome do aluno"
                />
                <input type="text" name="cpfAluno" placeholder="CPF do aluno" />
                <select name="turno">
                    <option value="Matutino">Matutino</option>
                    <option value="Vespertino">Vespertino</option>
                    <option value="Integral">Integral</option>
                </select>
                <fieldset>
                    <legend>Matérias</legend>
                    <input type="checkbox" name="materias" value="Front-end" />
                    Front-end
                    <input type="checkbox" name="materias" value="Back-end" />
                    Back-end
                    <input
                        type="checkbox"
                        name="materias"
                        value="Lógica de Programação"
                    />Lógica de Programação
                    <input
                        type="checkbox"
                        name="materias"
                        value="Matemática"
                    />Matemática
                    <input
                        type="checkbox"
                        name="materias"
                        value="Inglês"
                    />Inglês
                </fieldset>

                <input type="submit" value="Cadastrar" />
            </form>
        </div>
        <% if (data.length > 0) { %> <% for( let i = 0; i < data.length; i++ ) {
        %>
        <div class="alunoCadastrado">
            <h2><%= data[i].nome %></h2>
            <p><%= data[i].cpf %></p>
            <p><%= data[i].turno %></p>

            <p><%= data[i].materias%></p>
        </div>
        <% } %> <% } %>
    </body>
</html>
