* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: #5df591;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.main {
  margin: 50px auto;
  width: 800px;
}

.addPerson {
  width: 800px;
  margin: 0 auto;
  background: white;
  padding: 20px 40px;
  border-radius: 30px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.335);
}

.addPerson form div {
  margin: 10px;
  margin-top: 20px;
  display: flex;
}

.nomeESobrenome > input,
.idadeECPF > input {
  margin-right: 20px;
}

fieldset {
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 1.3rem;
  color: black;
  border: 5px solid #5df5c575;
}

.filtroField {
  color: black;
  border: 5px solid #5df5c575;
}

legend {
  padding: 0 10px;
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  background: #aff5af;
  border: none;
  font-size: 1rem;
}

input:focus {
  outline: 1px solid #dcf55d;
}

input::placeholder {
  font-size: 1rem;
  color: black;
}

#enviar,
#enviarFiltro {
  cursor: pointer;
  background: #dcf55d;
  border: 3px solid #d5ff0451;
}

.cardPerson {
  width: 500px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center; /* Adicionado */
}

.cardPerson div {
  width: 500px;
}

.azul {
  background: #aff5af;
  height: 100px;
}

.verde {
  background: #5df55d;
  height: 100px;
}

.verde h1 {
  float: left;
  margin-bottom: 30px;
}

.cardPerson {
  margin: 40px auto;
  border: 5px solid black;
  border-radius: 10px;
  position: relative; /* Adicionado */
  display: flex;
  flex-direction: column;
}

.cardPerson div {
  width: 100%;
  border-radius: 10px;
}

.verde h1 {
  position: absolute; /* Adicionado */
  top: 50%; /* Adicionado */
  left: 50%; /* Adicionado */
  transform: translate(-50%, -50%); /* Adicionado */
  margin: 0; /* Adicionado */
  color: black;
}

.verde h3 {
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}

.verde form {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

#deletar {
  cursor: pointer;
}

#ocupacao {
  padding: 10px 20px;
  border-radius: 10px;
  background: #aff5af;
  border: none;
  font-size: 1rem;
}

.filtro {
  margin: 20px 0;
  background: white;
  padding: 20px 10px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.335);
}

.filtro p {
  font-size: 1.1rem;
}

.filtro select {
  padding: 10px 20px;
  background: #aff5af;
  border: none;
  font-size: 1rem;
  margin-left: 0;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#deletar:hover {
  background: #afe7f551;
}
