body {
    background: cyan;
}

.container {
    background: white;
    width: 800px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.atividades {
    width: 100%;
}

.container div {
    text-align: center;
    margin: 5px;
}

.addAtividadeForm {
    width: 100%;
    border-top: 3px solid rgba(0, 0, 0, 0.442);
    margin-top: 20px;
    padding-top: 10px;
}
.inicioInput,
.terminoInput {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicioInput input,
.terminoInput input {
    width: 40px;
    height: 30px;
    font-size: 1.3rem;
}

.inicioInput span,
.terminoInput span {
    font-size: 3rem;
    text-align: center;
}

#btnAddAtividade {
    padding: 5px;
    cursor: pointer;
}

li {
    list-style: none;
    font-size: 1.5rem;
    background: rgba(54, 54, 245, 0.426);
    margin: 2px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}

.emQuestao {
    background: green;
}

h6 {
    display: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .deletarEEditar {
    display: flex;
}

.deletarEEditar input {
    cursor: pointer;
}

.hidden {
    display: none;
}
