body {
  background-image: linear-gradient(to right, #3c2f80, #faedda);
}

.container {
  width: fit-content;
  min-height: 400px;
  background: white;
  margin: 50px auto;
  border-radius: 10px;
  border: 1px solid #26b6c6;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.142);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}

h1 {
  text-align: center;
  font-size: 2.3rem;
}

.container p {
  font-size: 2.4rem;
  font-weight: bolder;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container1 {
  width: 1200px;
  height: auto;
  background: white;
  margin: 50px auto;
  border-radius: 10px;
  border: 1px solid #26b6c6;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.142);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}

.container1 p {
  font-size: 2rem;
  margin: 1px;
  font-weight: bolder;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
